# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/.idea.
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env*

# vercel
.vercel
/public/company/

# typescript
*.tsbuildinfo
next-env.d.ts
/public/product/
/prisma/data/
/public/img/
/.idea/sonarlint/
/prisma/dev.db
.env
.env.local
prisma/dev.db
/.idea/httpRequests/

.idea
.idea/workspace.xml
/public/uploads/
/prisma/dev_dev.db
/.vscode/settings.json
/test.sql
/prisma/dev_test.db
*.db
*.png

.qodo
!/src/app/test/
